@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Zain:wght@700&display=swap");

:root {
  /* Colors */
  --main-color: #deab5f;
  --primary-color: #312e2e;

  /* Fonts */
  --nav-font: sans-serif;
}

/* Utility Styles */
button {
  padding: 10px 30px;
  width: fit-content;
  background: var(--main-color);
  border: none;
  cursor: pointer;
}

/* Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #100e0f;
  color: #ffffff;
}

/* Nav Start */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: var(--nav-font);
  padding-top: 15px;
}

li {
  list-style: none;
  display: inline;
}

li a {
  color: #ffffff;
  text-decoration: none;
  margin-left: 40px;
  padding-bottom: 5px;
}

li a:hover {
  border-bottom: solid 2px var(--main-color);
}
/* Nav End */

/* First Section */
.header {
  background: url("Images/pexels-nao-triponez-129207.jpg") no-repeat
    center/cover;
  height: 100vh;
  color: #ffffff;
  text-align: center;
  font-family: "Playfair Display", serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.main-headings {
  font-size: 4rem;
  word-spacing: 10px;
}

.line1 {
  display: block;
  margin-top: 112px;
  margin-bottom: 565px;
}

.main-btn {
  margin-top: 20px;
}
/* End First Section */

/* Second section */

.img-container {
  width: 500px;
}

.img-coffee {
  width: 400px;
  height: 400px;
  background: url("Images/pexels-chitokan-2183027-removebg-preview.png")
    no-repeat;
  background-size: cover;
  background-position: center;
}

.section-story {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 15%;
}

.story-details {
  max-width: 500px;
  position: relative;
}
.story-details h2 {
  padding-left: 5px;
  font-family: "Playfair Display", serif;
  font-size: 4rem;
  text-transform: uppercase;
}
.story-details p {
  font-family: sans-serif;
  line-height: 20px;
  margin: 20px 0;
}

.line::before {
  content: "";
  width: 65px;
  height: 2px;
  background-color: #deab5f;
  color: aqua;
  position: absolute;
  left: -80px;
  top: 45px;
}

/* End second section */

/* Bean journey Section */
.img-cappuccino {
  background: url("Images/2.png") no-repeat left/cover;
  width: 400px;
  height: 400px;
}
